
    <div class="jumbotron center">
      <h1>Alpha Blog</h1>
      <%= link_to "Sign up now", signup_path, class: 'btn btn-primary btn-lg btn-xlarge' %>
    </div>


    <div class="row">
      <div class="col-md-4">
        <h2>Ruby</h2>
        <p>Chirp pets in. In eggplant, quonset is grain bins, grain trucks quonset pole shed, with fences gates zucchini carrots scrap metal. <br><br></p>
        <p><a class="btn btn-default" href="#" role="button">Learn More</a></p>
      </div>
      <div class="col-md-4">
        <h2>Rails</h2>
        <p> Blue berries pigeons buzz and bean prairie dogs nails at est. Shovels at rakes plows. In quilt yearlings, gobblers pumpkin are porky pig beef, sheep rose garden sage, in pitch fork sunflower cowpies mice. Baa potato donke.</p>
        <p><a class="btn btn-default" href="#" role="button">Learn More</a></p>
      </div>
      <div class="col-md-4">
        <h2>SASS</h2>
        <p>John Deere bees, parsley sweet corn at, porky pig shovels. Turkey daisys eggs squeal, horses moonshine apples raising Mooo tractor plow. <br><br></p>
        <p><a class="btn btn-default" href="#" role="button">Learn More</a></p>
      </div>
    </div>