$navbar-default-bg: #020215;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('banner-resized.jpg');
    background-size: cover;
    height: 450px;
}

.jumbotron h1 {
    color:#bababa;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlarge {
    font-size: 1.7em;
    outline:none;
    background-color: #000;
}

.btn-xlarge:hover {
    background-color: #353535;
}

.article-actions {
    border-top: 2px solid #eaeaea;
    padding-top: 5px;
}

.description {
    margin-top: 0;
}

.article-title {
    font-weight:bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-bottom: 15px;
    padding-top: 15px;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}

footer p.small {
    float: left;
}

footer nav {
    float: right;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}



