<h1 class="center">Listing all categories</h1>
<ul class="listing center">
    <%= will_paginate %>
    <% @categories.each do |category| %>
    <li>
    <div class="row">
        <div class="well col-md-4 col-md-offset-4">
            <div class="article-title">
                <%= link_to "#{category.name}", category_path(category) %>
            </div>
            <div class="">
                <small><%= pluralize(category.articles.count, "article") %></small>
            </div>
        </div>
    </div>
    </li>
    <% end %>
    <%= will_paginate %>
</ul>